/* Reset básico para a formatação padrão */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    color: #333;
    line-height: 1.6;
}

header {
    background-color: #4d8574;
    color: #fff;
    text-align: center;
    padding: 20px;
}

header h1 {
    font-size: 2.5rem;
    margin-bottom: 10px;
}

header p {
    font-size: 1.2rem;
}

main {
    padding: 20px;
}

.movie-list {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    gap: 20px;
}

.movie {
    background-color: #fff;
    border-radius: 8px;
    width: 250px;
    padding: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    text-align: center;
}

.movie img {
    width: 100%;
    border-radius: 5px;
}

.movie h2 {
    font-size: 1.6rem;
    margin-top: 10px;
}

.movie p {
    font-size: 1rem;
    margin: 5px 0;
}

footer {
    background-color: #4d8574;
    color: #fff;
    text-align: center;
    padding: 10px;
    margin-top: 20px;
}

footer p {
    font-size: 1rem;
}

